/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    width: 100%;
    margin: 0 auto;
    /* overflow-x: hidden; */
}
.main_wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 1080px;
    /* background-image: url(../assets/landing_BG.jpg); */
    background: radial-gradient(
        71.54% 107.41% at 39.35% 25.56%,
        #e3cfe6 0%,
        #7c649d 61.07%,
        #1c1038 100%
    );
/*     background-repeat: no-repeat; */
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.background_medusa {
    position: absolute;
    width: 684px;
    height: 856px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    top: 181px;
    z-index: 2;
    background-image: url(../assets/Medusa.png);
    mix-blend-mode: overlay;
}

.text_logo {
    background-image: url(../assets/Text-Logo.png);
    background-repeat: no-repeat;
    width: 1042px; /* FIX width */
    height: 157px;
    margin: 400px auto 0px;
}

.button_find-more__link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.button_find-more {
    width: 250px;
    height: 50px;
    background: #9e79d7;
    box-shadow: 0px 10px 40px rgba(197, 118, 253, 0.58);
    border-radius: 28px;
    border: 0px;
    margin-top: 150px;
    z-index: 4;
}

.button_find-more:hover,
.button_find-more:focus {
    background-color: rgba(197, 118, 253, 0.58);
}

/*header start  */
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 148px;
    padding-top: 20px;
    margin: 0 auto;
    align-self: center;
}
.header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item:last-child {
    margin-right: 0px;
}

.nav_logo {
    width: 150px;
    height: 148px;
    /*  margin-left: 60px; */
}

.nav_link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-top: 5px;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-left: 80px;
}
.nav_link:hover,
.nav_link:focus,
.nav_link:active {
    text-decoration-line: underline;
    color: #5f4a80;
}
.nav_item {
    float: left;
    position: relative;
    margin-right: 40px;
}
.nav_sublist {
    display: none;
    position: absolute;
    top: 100%;
    width: 300px;
}
.nav_subitem {
    float: none;
    margin-top: 10px;
}

.nav_item:hover .nav_sublist {
    display: block;
}
.nav_sublist a {
    width: 200px;
}
/*header styles ends*/

/*burger menu*/
.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #250e4b;
    margin: 0 auto;
    z-index: 10;
}
.menu-burger__header span {
    top: 16px;
}
.menu-burger__header:after,
.menu-burger__header:before {
    content: "";
}
.menu-burger__header:after {
    bottom: 5px;
}
.menu-burger__header:before {
    top: 5px;
}

.menu-burger__header {
    position: absolute; /* задаем относительное позиционирование */
    width: 40px; /* определяем размеры блока */
    height: 35px;
    top: 10px;
    left: 10px;
    display: block;
    margin-left: auto;
    visibility: hidden;
}

/*adaptive*/

@media (max-width: 1200px) {
    .text_logo {

        background-image: url(../assets/Text-Logo-600.png);
        height: 120px;
        width: 600px;
    }
}
@media (max-width: 1025px) {
    .nav_link {
        font-size: 11px;
    }

    .background_medusa {

        top: 180px;
    }
    .text_logo {
        margin-top: 400px;
    }

}

@media (max-width: 750px) {
    .header_nav {
        visibility: hidden;
    }
    .body {
        /*  overflow-x: hidden; */
    }
    .menu-burger__header {
        visibility: visible;
        z-index: 10;
        top: 20px;
        left: 30px;
        width: 36px;
    }

    .background_medusa {
        /*  margin-top: 400px; */
        height: 480px;
        width: 380px;
        background-size: cover;
        top: 70px;
    }
    .text_logo {
        background-image: url(../assets/Text-Logo-380.png);
        height: 90px;
        width: 380px;
        margin-top: 250px;
    }
    .button_find-more {
        margin-top: 50px;
    }
    .main_wrapper {
        height: 100vh;
    }
}

@media (max-width: 490px) {
    .background_medusa {
        /*  margin-top: 400px; */
        top: 20px;
        height: 377px;
        width: 320px;
        background-size: cover;
    }
    .text_logo {
        background-image: url(../assets/Text-Logo-380.png);
        background-size: cover;
        height: 45px;
        width: 310px;
        margin-top: 120px;
    }
    .button_find-more {
        margin-top: 80px;
    }
    .main_wrapper {
        height: 100vh;
    }
}

@media (max-width: 340px) {
    .background_medusa {
        /*  margin-top: 400px; */
        top: 20px;
        height: 376px;
        width: 300px;
        background-size: cover;
    }
    .text_logo {
        background-image: url(../assets/Text-Logo-380.png);
        background-size: cover;
        height: 40px;
        width: 280px;
        margin-top: 120px;
    }
    .button_find-more {
        margin-top: 80px;
    }
    .main_wrapper {
        height: 100vh;
    }
    /*  .nav_link{
         font-size: 8px;
     }
     .nav_item{
         margin-right: 10px;
     } */
}
