/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    /* overflow-x: hidden; */
}
.main_wrapper {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/landing_BG.jpg);
    background-repeat: no-repeat;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bacground_medusa {
    position: absolute;
    width: 684px;
    height: 856px;
    left: 631px;
    top: 181px;
    z-index: 2;
    background-image: url(../assets/Medusa.png);
    mix-blend-mode: overlay;
}

.text_logo {
    background-image: url(../assets/Text-Logo.png);
    width: 1042px;
    height: 157px;
    margin-top: 400px;
}

.button_find-more__link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.button_find-more {
    width: 250px;
    height: 50px;
    background: #9e79d7;
    box-shadow: 0px 10px 40px rgba(197, 118, 253, 0.58);
    border-radius: 28px;
    border: 0px;
    margin-top: 150px;
    z-index: 4;
}

.button_find-more:hover,
.button_find-more:focus {
    background-color: rgba(197, 118, 253, 0.58);
}

/*header start  */
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 148px;
    padding-top: 20px;
    margin: 0 auto;
    align-self: center;
}
.header_nav{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.nav_item {
    margin-right: 40px;
}

.navr_item:last-child {
    margin-right: 0px;
}

.nav_logo {
    width: 150px;
    height: 148px;
    margin-left: 60px;
}

.nav_link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;

}
.nav_link:hover,
.nav_link:focus,
.nav_link:active {
    text-decoration-line: underline;
    color: #e2ceff;
}

/*header styles ends*/
