body {
    /*overflow-x: hidden;*/
}

.main_wrapper {
    position: relative;
    width: 1920px;
}

/*header start  */
.header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background-image: url(../assets/header_background.png);
    z-index: 1;
}
/*start navigation*/
.header_nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1430px;
    height: 148px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.nav_item {
    margin-right: 40px;
}

.navr_item:last-child {
    margin-right: 0px;
}

.nav_logo {
    width: 150px;
    height: 148px;
}

.nav_link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 60px; /* centr */
}

.nav_link:hover,
.nav_link:focus,
.nav_link:active {
    text-decoration-line: underline;
    color: #e2ceff;
}
/*header styles ends*/

.head_h1 {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.15em;
    color: #ffffff;
    margin: 0 auto;
    top: -100px;
}
.head_h2 {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    top: -500px;
}

.how-it-works {
    width: 1920px;
    height: 200px;
}
.how-it-works_h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: #1d1d1d;
    text-align: center;
}

.how-it-works_p {
    width: 827px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #313131;
    text-align: center;
    margin: 0 auto;
}

/*IFORMATION BLOCK*/

.information-block {
    width: 1500px;
    height: 650px;
    display: flex;
    margin: 200px auto 0px;
}
.information-item {
    height: 200px;
    width: 680px;
    margin-top: 50px;
    margin-left: 100px;
}
.informayion-block_h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.information-block_p {
    width: 606px;
    height: 62px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #313131;
    margin-left: 20px;
   
}
.information-block_right-column {
    margin-left: auto;
}
.information_image {
    width: 1920px;
    height: 393px;
    background-image: url(../assets/infrmation_image.png);
}
.information-block_second_left-image {
    width: 960px;
    height: 831px;
    background-image: url(../assets/information2_left-image.png);
}

.information-block_second {
    width: 1920px;
    height: 831px;
    display: flex;
}
.information-block-second_column-right {
    width: 560px;
    height: 431px;
    
}
.information-block_third {
    width: 1920px;
    height: 831px;
    display: flex;
}
.information-block-third_column-left {
    width: 560px;
    height: 431px;   
}
.information-block_third_rifht-image {
    width: 960px;
    height: 831px;
    background-image: url(../assets/information3_image.png);
}

.slider {
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/slider.png);
}

/*start footer*/

.footer {
    width: 1920px;
    height: 150px;
    margin: 0 auto;
    background: #5f4a80;
}
.footer_wrapper {
    width: 1500px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    /*justify-content: space-between;*/
}
.footer_item {
    /*margin-top: 150px;*/
    margin-left: 88px;
}
.footer_list-phone {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    text-transform: uppercase;

    color: #ffffff;
}
.footer_logo_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin-left: 150px;*/
}
.footer_text-logo {
    width: 200px;
    height: 20px;
}
.footer_logo {
    width: 100px;
    height: 100px;
}

.footer_list {
    display: flex;
    flex-direction: column;
}
.footer_link {
    font-family: Open_Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #f7f7f7;
    text-decoration: none;
}

.social_list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.social_item {
    margin-right: 27px;
    width: 30px;
    height: 30px;
}
.social_link{
    width: 30px;
    height: 30px;  
}


.footer_nav {
    margin-left: 50px;
}
.footer_link:hover,
.footer_link:focus,
.footer_link:active,
.social_item:hover,
.social_item:focus,
.social_item:active {
    opacity: 0.5;
    cursor: pointer;
}

.footer_copyright {
    width: 1920px;
    height: 50px;
    background: #1c1038;
    padding-top: 25px;
}
.copyright {
    width: 280px;
    height: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9e79d7;
    margin: 0 auto;
}

/*footer end*/
