@font-face {
    font-family: "La Luxes Serif";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../../../fonts/LaLuxesSerif.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../../../fonts/LaLuxesSerif.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    /*overflow-x: hidden;*/
}

.main_wrapper {
    position: relative;
    max-width: 1920px;
    /*  border: 1px solid  lime;  */
}

/*header start  */
.header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    /* width: 1920px; */
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    background-image: url(../assets/header_background.png);
    z-index: 1;
}

/*start navigation*/
.header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_item:last-child {
    margin-right: 0px;
}

.nav_logo {
    width: 150px;
    height: 148px;
    /*  margin-left: 60px; */
}

.nav_link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-top: 5px;
}

.nav_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-left: 80px;
}
.nav_link:hover,
.nav_link:focus,
.nav_link:active {
    text-decoration-line: underline;
    color: #250e4b;
}
.nav_item {
    float: left;
    position: relative;
    margin-right: 40px;
}
.nav_sublist {
    display: none;
    position: absolute;
    top: 100%;
    width: 300px;
}
.nav_subitem {
    float: none;
    margin-top: 10px;
}

.nav_item:hover .nav_sublist {
    display: block;
}
.nav_sublist a {
    width: 200px;
}
/*header styles ends*/

.head_h1 {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.15em;
    color: #ffffff;
    margin: 0 auto;
    top: -100px;
}
.head_h2 {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    top: -500px;
}

.how-it-works {
    max-width: 1920px;
    height: 250px;
}
.how-it-works_h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: #1d1d1d;
    text-align: center;
}

.how-it-works_p {
    width: 827px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #313131;
    text-align: justify;
    text-indent: 2em;
    margin: 0 auto;
}

/*IFORMATION BLOCK*/
.information_column {
    width: 50%;
}
.information-block {
    width: 1500px;
    height: 650px;
    display: flex;
    margin: 200px auto 0px;
}
.information-block_h2 {
    font-family: "La Luxes Serif";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.information-item {
    /*height: 200px;*/
    width: 80%;
    margin: 20px auto;
    /* margin-top: 20px;
    margin-left: 100px; */
}
.information-block_h3 {
    font-family: "La Luxes Serif";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #1d1d1d;
    margin-bottom: 20px;
}
.information-block_p {
    width: 606px;
    height: 62px;
    font-family: "La Luxes Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #313131;
    margin-left: 20px;
}
.information-block_right-column {
    margin-left: auto;
}
.information_image {
    max-width: 1920px;
    height: 393px;
    background-image: url(../assets/infrmation_image.png);
}
.information-block_second_left-image {
    width: 960px;
    height: 831px;
    background-image: url(../assets/information2_left-image.png);
}

.information-block_second {
    max-width: 1920px;
    height: 831px;
    display: flex;
}
.information-block-second_column-right {
    /* width: 560px; */
    height: 431px;
}
.information-block_third {
    max-width: 1920px;
    height: 831px;
    display: flex;
}
.information-block-third_column-left {
    /*  width: 560px; */
    height: 431px;
    margin-top: 100px;
}
.information-block-third_column-left .information-item {
    margin-bottom: 50px;
    margin-top: 50px;
}
.information-block_third_rifht-image {
    width: 960px;
    height: 831px;
    background-image: url(../assets/information3_image.png);
}
/* SLIDER ***************************/
.slider {
    max-width: 1920px;
    height: 1080px;
    position: relative;
}

.slider_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slider_arrow-container {
    width: 250px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
}
.arrow-container_left {
    left: 0px;
}
.arrow-container_right {
    right: 0px;
}
.slider_arrow {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: (-50%, -50%);
}

.arrow-container_left:hover {
    background: linear-gradient(
        88.52deg,
        rgba(28, 16, 56, 0.55) 0.75%,
        rgba(95, 74, 128, 0.075) 98.23%
    );
}
.arrow-container_right:hover {
    background: linear-gradient(
        268.52deg,
        rgba(28, 16, 56, 0.55) 0.75%,
        rgba(95, 74, 128, 0.075) 98.23%
    );
}

.slider_arrow-container:hover .slider_arrow {
    transform: scale(1.2);
}

/*start footer*/

.footer {
    max-width: 1920px;
    height: 150px;
    margin: 0 auto;
    background: #5f4a80;
}
.footer_wrapper {
    max-width: 1500px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    /*justify-content: space-between;*/
}
.footer_item {
    /*margin-top: 150px;*/
    margin-left: 88px;
}
.footer_list-phone {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    text-transform: uppercase;

    color: #ffffff;
}
.footer_logo_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin-left: 150px;*/
}
.footer_text-logo {
    width: 200px;
    height: 20px;
}
.footer_logo {
    width: 100px;
    height: 100px;
}

.footer_list {
    display: flex;
    flex-direction: column;
}
.footer_link {
    font-family: Open_Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #f7f7f7;
    text-decoration: none;
}

.social_list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.social_item {
    margin-right: 27px;
    width: 30px;
    height: 30px;
}
.social_link {
    width: 30px;
    height: 30px;
}

.footer_nav {
    margin-left: 50px;
}
.footer_link:hover,
.footer_link:focus,
.footer_link:active,
.social_item:hover,
.social_item:focus,
.social_item:active {
    opacity: 0.5;
    cursor: pointer;
}

.footer_copyright {
    max-width: 1920px;
    height: 50px;
    background: #1c1038;
    padding-top: 25px;
}
.copyright {
    width: 280px;
    height: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9e79d7;
    margin: 0 auto;
}

/*footer end*/
